*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    color: black;
    background-color: rgb(243 244 246)
}

.menu-header{
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 10px #000000;
}

.menu-header h1:hover{
    cursor: pointer;
}

main{
    width: 100%;
    padding: 50px 5% 50px 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu-container{
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 3em
}

.menu-container-title{
    font-size: 18pt;
    font-weight: 600;
}

.menu-items{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.menu-item{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 5px 10px #00000024;
    border-radius: 10px;
    padding: 20px;
}

.menu-item-image-name-description{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.menu-item-image-container{
    width: 200px;
    height: 100%;
}

.menu-item-image-container img{
    border-radius: 10px;
}

.menu-item-image{
    width: 100%;
    height: 100%;
    & img{
        border-radius: 10px;
    }
}

.menu-item-name-description{
    display: flex;
    flex-direction: column;
}

.menu-item-name{
    font-size: 16pt;
    font-weight: 600;
}

.menu-item-description{
    font-size: 10pt;
}

.menu-item-price-edit-delete{
    display: flex;
    flex-direction: row;
    gap: 3em;
}

.menu-item-price{
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-weight: 600;
}

.menu-item-edit-delete{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:1em;
}

.menu-item-edit-delete button{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

/* Item form */

.item-form{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.item-form-component{
    display: flex;
    flex-direction: column;
}

.menu-button{
    color: red;
}

/* Contact form */

.contact-form{
    display: flex;
    flex-direction: column;
    gap:1em;
}

.contact-form-input-field{
    display: flex;
    flex-direction: column;
}

/* Displaying messages */

.message-items{
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.message-item{
    display:flex;
    flex-direction: column;
}